<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- 
     给异常配置专业页面来处理
   -->
   <error-page>
     <exception-type>com.xunpoit.exception.MyException</exception-type>
     <location>/errorPage.jsp</location>
   </error-page>
   
   <error-page>
     <exception-type>com.xunpoit.exception.ModifyException</exception-type>
     <location>/errorPage.jsp</location>
   </error-page>
   
   <error-page>
     <exception-type>com.xunpoit.exception.FlowCardException</exception-type>
     <location>/errorPage.jsp</location>
   </error-page>
   <!-- 
     根据错误代码，匹配出了哪一种异常和错误
    -->
   <error-page>
     <error-code>404</error-code>
     <location>/errorCode.jsp</location>
   </error-page> 
   
   <error-page>
     <error-code>500</error-code>
     <location>/errorCode.jsp</location>
   </error-page> 
   
   <!-- 
       配置全局范围内的参数，pageSize具有比在servlet中设置的pageSize更高的优先级
    -->
   <context-param>
      <param-name>pageSize</param-name>
      <param-value>2</param-value>
   </context-param>
   
  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>com.xunpoit.Filter.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
   <filter>
    <filter-name>LoginFilter</filter-name>
    <filter-class>com.xunpoit.Filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/sysmgr/*</url-pattern>
    <url-pattern>/basedata/*</url-pattern>
    <url-pattern>/flowcard/*</url-pattern>
  </filter-mapping>
  
   <filter>
    <filter-name>LoginFilter01</filter-name>
    <filter-class>com.xunpoit.Filter.LoginFilter01</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter01</filter-name>
    <url-pattern>/main.jsp</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>validateClientId</servlet-name>
    <servlet-class>com.xunpoit.servlet.validateClientId</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>validate</servlet-name>
    <servlet-class>com.xunpoit.servlet.validate</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ItemAddServlet</servlet-name>
    <servlet-class>com.xunpoit.servlet.ItemAddServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ItemAddUser</servlet-name>
    <servlet-class>com.xunpoit.servlet.ItemAddUser</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddServlet</servlet-name>
    <servlet-class>com.xunpoit.servlet.AddServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ItemFindAllServlet</servlet-name>
    <servlet-class>com.xunpoit.servlet.ItemFindAllServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ItemModifyUIServlet</servlet-name>
    <servlet-class>com.xunpoit.servlet.ItemModifyUIServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ItemModifyServlet</servlet-name>
    <servlet-class>com.xunpoit.servlet.ItemModifyServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ItemDeleteServlet</servlet-name>
    <servlet-class>com.xunpoit.servlet.ItemDeleteServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ItemUploadUIServlet</servlet-name>
    <servlet-class>com.xunpoit.servlet.ItemUploadUIServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ItemUploadServlet</servlet-name>
    <servlet-class>com.xunpoit.servlet.ItemUploadServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ItemDetailServlet</servlet-name>
    <servlet-class>com.xunpoit.servlet.ItemDetailServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AbstractItemServlet</servlet-name>
    <servlet-class>com.xunpoit.servlet.AbstractItemServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>InitServlet</servlet-name>
    <servlet-class>com.xunpoit.servlet.InitServlet</servlet-class>
     <!-- 
    load-on-startup标签可以在容器启动的时候，就加载该servlet，配置的是一个整型的数据
         多个servlet配置后，在整数大于0的情况下，越小，优先级越高，但是小于0，相当于没有配置，一样的时候，按照容器自己的顺序去加载
   -->
   <load-on-startup>4</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>FlowCardServlet</servlet-name>
    <servlet-class>com.xunpoit.servlet.FlowCardServlet</servlet-class>
    <load-on-startup>2</load-on-startup>
  </servlet>


  <servlet-mapping>
    <servlet-name>validateClientId</servlet-name>
    <url-pattern>/servlet/validateClientId</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>validate</servlet-name>
    <url-pattern>/servlet/validate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ItemAddServlet</servlet-name>
    <url-pattern>/servlet/ItemAddServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ItemAddUser</servlet-name>
    <url-pattern>/servlet/ItemAddUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddServlet</servlet-name>
    <url-pattern>/servlet/AddServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ItemFindAllServlet</servlet-name>
    <url-pattern>/servlet/ItemFindAllServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ItemModifyUIServlet</servlet-name>
    <url-pattern>/servlet/ItemModifyUIServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ItemModifyServlet</servlet-name>
    <url-pattern>/servlet/ItemModifyServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ItemDeleteServlet</servlet-name>
    <url-pattern>/servlet/ItemDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ItemUploadUIServlet</servlet-name>
    <url-pattern>/servlet/ItemUploadUIServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ItemUploadServlet</servlet-name>
    <url-pattern>/servlet/ItemUploadServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ItemDetailServlet</servlet-name>
    <url-pattern>/servlet/ItemDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AbstractItemServlet</servlet-name>
    <url-pattern>/servlet/AbstractItemServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InitServlet</servlet-name>
    <url-pattern>/servlet/InitServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FlowCardServlet</servlet-name>
    <url-pattern>/servlet/FlowCardServlet</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
</web-app>
